/dist/
**/target/
/Cargo.lock
.trae/
.cursor/
.vscode/
.idea/
frontend/node_modules/
node_modules/
pnpm-lock.yaml
frontend/dist/
frontend/.angular/
*.db
*.db-shm
*.db-wal
.DS_Store
*.exe
resource/ffmpeg*
resources/ffmpeg*
/artifacts/
scripts/output.txt
scripts/input.txt
**/bin/
coverage/
tsc_errors.log
tsc_full_errors.txt
